# --- Node / Frontend ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/npm-debug.log*

# --- Go / Backend ---
backend/bin/
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
# If you use a tool like 'air' for live reloading
backend/tmp/

# --- IDE / System ---
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
shared-lib


LocalDev/
node_modules/
dist/